

*, *::before, *::after {
   box-sizing: border-box;
}

body {
   overflow: auto;
   margin:0px;
   font-family: "Baskerville";
}

.head {
   overflow: visible;
  
}

header {
  
   width: 830px;
   height:40px;
   padding: 8px 0px 0px;
   margin:20px auto;
   float:left;
   text-align: left;
   justify-content:left;
   position:fixed;
}

nav {
   position: absolute;
   text-align:left;
   top: 0%;
   left: 0px;
}

nav ul {
   width: 400px;
   text-align:left;
   position: absolute;
   margin: 0px 0px 0px 10px;
   padding: 0px;
   list-style:none;
}

nav li {
  
   margin-left: 1em;
   display:inline;
}

nav a {
   border-radius: 8px;
   padding:4px;
   font-size:1.2rem;
   text-decoration: none;
   font-weight: bold;
  color:black;
}

nav a:hover {
   background-color:rgba(44, 47, 51, 0.2);
}
 
nav a:active {
   background-color:rgba(44, 47, 51, 0.5);
}

.main {
  overflow: scroll;
  font-family: "Baskerville";
  height:100%;
  width:100%;
  align-content: center;
  align-text:center;
  padding-top:60px;
}

.sec1 {
  
   margin:40px auto 0px;
   height: auto;
   width: 85%;
   border-radius: 25px;
   text-align: center;
   padding-bottom:10px;
}
